#contenedor-principal {
    background-color: #f0f0f0; 

}

ul {
    list-style: none;
}

#carrito-compras {
    text-align: center;
    font-size: 30px; 
    color: black; 
    margin-top: 10px;
    margin-bottom: 20px;
}

#total-compra {
    text-align: center;
    font-size: 30px; 
    color: black; 
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Estilos para el fondo borroso */
.blurry-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    z-index: 999; 
}

/* Estilos para el cartel de éxito */
.cartel-exito {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    padding: 40px;
    border-radius: 10px;
    z-index: 1000; 
    text-align: center; 
    font-size: 20px; 
    border-radius: 5px; 
}

/* Estilos para el botón de cerrar */
.cartel-exito .btn-cerrar {
    background-color: #4CAF50; 
    color: black; 
    border: none; 
    padding: 5px 10px; 
    font-size: 14px; 
    cursor: pointer; 
    border-radius: 3px; 
    position: absolute;
    margin-top: 10px; 
    bottom: 10px;
    right: 10px; 
    margin-right: 10px; 
}


.cartel-exito .btn-cerrar:hover {
    background-color: #3e8e41; 
}


/* Estilos para el botón de finalizar compra */
.btn-finalizar {
    background-color: #4CAF50; 
    color: black; 
    border: none; 
    padding: 10px 10px; 
    font-size: 18px; 
    cursor: pointer; 
    border-radius: 3px; 
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.btn-finalizar:hover {
    background-color: #3e8e41; 
}

/* Estilos para el contenedor de los productos */
.productos {
    margin-bottom: 70px; 
}

/* Estilos para el contenedor de la compra */
.compra {
    position: fixed; 
    bottom: 0; 
    right: 0; 
    width: 30%; 
    background-color: #f0f0f0; 
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0); 
    padding: 30px; 
    text-align: center; 
    z-index: 999; 
}

/* Estilos para el contenedor de los elementos del carrito */
.carrito-contenedor {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 50px; 
}


/* Estilos para el contenedor del carrito */
.contenedor {
    display: flex;
    justify-content: space-between;
}

/* Estilos para el lado izquierdo */
.productos {
    width: 50%;
    padding-right: 20px;
}

/* Estilos para el lado derecho */
.compra {
    width: 40%;
    position: sticky;
    top: 10px;
    padding-left: 20px;
}

/* Estilos para el resumen de la compra */
.compra #compra-resumen {
    position: relative;
}

/* Estilos para el total de la compra */
.compra #compra-resumen ul {
    margin-bottom: 50px;
}

/* Estilos para el botón de finalizar compra */
.compra .btn-finalizar {
    width: 80%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilos para las miniaturas de las imágenes de los productos */
.productos img {
    width: 100px; 
    height: auto; 
}

/* Estilos para el texto "Cantidad" */
.cantidad-texto {
    font-size: 15px; 
    margin-top: 10px;
    margin-left: 30px;
}

/* Estilos para los elementos de la lista de productos */
.productos li {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 30px; 
}

/* Estilos para los botones de suma, resta y eliminar */
.productos button {
    padding: 10px 10px; 
    margin-left: 5px !important; 
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    font-size: 14px !important; 
}

/* Estilos para los botones de eliminar generados dinámicamente */
.btn-eliminar-dinamico {
    padding: 5px 10px !important; 
    margin-top: 30px !important; 
    margin-left: 10px !important; 
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px !important; 
}
